<div class="col md 6 center-block">
  <span> Создать должность </span>
  <%= form_with url: "/position_create", method: :post do |form| %>
    <%= form.text_field :name%>
    <%= form.submit "Сохранить" %>
  <% end %>
</div>