<div class="col-4">
  <span> Создать пользователя </span>
  <%= form_with url: "/user_create", method: :post do |form| %>
    <%= form.text_field :first_name, {class: 'input', style: 'margin-top: 10px', placeholder: 'Имя'}%>
    <%= form.text_field :last_name, {class: 'input', style: 'margin-top: 10px',  placeholder: 'Фамилия'}%>
    <%= form.text_field :surname, {class: 'input', style: 'margin-top: 10px',  placeholder: 'Отчество'}%>
    <%= form.submit "Сохранить", {class: 'btn', style: 'margin-top: 10px' }%>
  <% end %>
</div>