<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>

  <body>
		<div class='container'>
			<span style="margin-top: 15px"> Диапазон дат </span>
			<%= form_with url: "/employment_term_create", method: :post do |form| %>
				<input id="first_date" name="first_date" type="date-local" value="<%=Date.today - 7.days %>" style="margin-top: 15px">
				-
  			<input id="last_date" name="last_date" type="date-local" value="<%=Date.today%>" style="margin-top: 15px">
  		<% end %>
  		<button onclick="take_data()" style="margin-top: 5px">Выбрать</button>
		</div>

  	<div class='container'>
  		<div class='row'>
  			<div class='col-2' style="margin-top: 25px">
			  	<span> Подразделения: </span>
			  	<% Division.find_each do |division| %>
			  		<button class="btn" style="margin-top: 10px; width: 120px" onclick="show_table(<%= division.id%>)"> <%= "#{division.name}" %> </button><br>
  				<% end %>
  			</div>
  			<div class='col-10'>
  				<div id="take_data" class='container' style="margin-top: 50px; overflow: auto; height:500px;"></div>
  			</div>
  		</div>
  	</div>
  </body>
  <footer>
  	<div class='container' style="margin-top: 50px">
  		<button onclick="window.location='/'" class="btn">Основная страница</button>
  	</div>
  </footer>


  <script type="text/javascript">
  	function take_data(){
  		var first_date = document.getElementById("first_date").value;
  		var last_date = document.getElementById("last_date").value;
	    $.ajax({
      url: '/take_table_data',
      type: "POST",
      data: { "first_date": first_date,
				      "last_date": last_date},
			headers: {
							'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
			},
      success: function(success){
        document.getElementById("take_data").innerHTML = success.value;
      }
    	});
  	};


  	function show_table(division_id){
  		var division_id = division_id;
  		var table = $("#table_" + division_id);
  		$(".table").hide()
  		table.show()
  	};

  	window.onload = take_data()
  </script>
 </html>